@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

/*
MEDIA QUERY MANAGER

0 - 600px:        Phone
600 - 900px:      Tablet Portrait
900px - 1200px    Tablet Landscape
[1200px - 1800px] is where our normal style applies
1800px - onward   Big Desktops

BREAKPOINT ARGUMENT CHOICES:

-phone
-tablet portrait
-tablet landscape
-desktops
-big desktops

*/



@mixin respond($breakpoint) {
    @if $breakpoint ==phone {
        @media (max-width: 37.5em) {
            @content
        }

        ; //600px
    }

    @if $breakpoint ==tab-port {
        @media (max-width: 56.25em) {
            @content
        }

        ; //900px
    }

    @if $breakpoint ==tab-land {
        @media (max-width: 75em) {
            @content
        }

        ; //1200px
    }

    @if $breakpoint ==big-desktop {
        @media (min-width: 112.5em) {
            @content
        }

        ; //1800px
    }
}