.button {

    &,
    &:link,
    &:visited {
        font-size: $default-font-size;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        display: inline-block;
        transition: all 0.2s;
        position: relative;

        //Changes for <button> element
        border: none;
        cursor: pointer;
    }

    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.5s;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0px 1rem 2rem rgba($color-black, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);

        //Changes for <button> element
        outline: none;
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }
    }

    &--animation {
        animation: MoveUp 0.3s ease-out;
        animation-delay: 0.75s;
        animation-fill-mode: backwards;
    }

}

.button_2 {

    &:link,
    &:visited {
        font-size: $default-font-size;
        font-weight: 600;
        text-decoration: none;
        padding: 3px;
        display: inline-block;
        transition: all 0.2s;
    }

    &--green {
        color: $color-primary;
        border-bottom: $color-primary solid 0.1rem;

        &:hover {
            color: $color-white;
            background-color: $color-primary;
        }
    }

    &--white {
        color: $color-white;
        border-bottom: $color-white solid 0.1rem;

        &:hover {
            color: $color-primary;
            background-color: $color-white;
        }
    }

    &:hover {
        box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
        transform: translateY(-0.2rem);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
        transform: translateY(0rem);
    }

}