.card {
    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;


    &__side {
        height: 52rem;
        text-align: center;
        border-radius: 0.3rem;
        transition: all 1s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 0.3rem;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

        &--front {
            background-color: $color-white;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: $linear-gradient-secondary;
            }

            &-2 {
                background-image: $linear-gradient-primary;
            }

            &-3 {
                background-image: $linear-gradient-tertiary;
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    // FRONT SIDE STYLING
    &__picture {
        height: 23rem;
        background-size: cover;
        background-blend-mode: soft-light;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        border-top-left-radius: 0.3rem;
        border-top-right-radius: 0.3rem;

        &-1 {
            background-image: $linear-gradient-secondary, url(/images/sea_explorer.jpg);
        }

        &-2 {
            background-image: $linear-gradient-primary, url(/images/forest_hiker.jpg);
        }

        &-3 {
            background-image: $linear-gradient-tertiary, url(/images/snow_adventure.jpg);
        }
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: 300;
        position: absolute;
        text-align: right;
        text-transform: uppercase;
        top: 10rem;
        right: 3rem;
        color: $color-white;
        width: 75%;
    }

    &__heading_span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &-1 {
            background-image: $linear-gradient-secondary-transparent;
        }

        &-2 {
            background-image: $linear-gradient-primary-transparent;
        }

        &-3 {
            background-image: $linear-gradient-tertiary-transparent;
        }
    }

    &__details {
        padding: 3rem;

        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;

            li {
                font-size: 1.5rem;
                padding: 1rem;
                text-align: center;

                &:not(:last-child) {
                    border-bottom: $color-grey-light-2 solid 1px;
                }
            }
        }

    }

    // BACK SIDE STYLING

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    &__price-box {
        text-align: center;
        color: $color-white;
        margin-bottom: 8rem;
    }

    &__price-only {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value {
        font-size: 6rem;
        font-weight: 100;
    }





    @include respond(tab-port) {
        height: auto;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
        border-radius: 0.3rem;

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 2rem 3rem
        }


        &__cta {
            position: relative;
            top: 0%;
            left: 0%;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-value {
            font-size: 5rem;
        }
    }
}